.main-goods{
    /* background:#eef9cb; */
}

.main-goods h1{
    border-radius: 10px;
    padding:10px;
    margin-bottom:30px;
    background:#eee;
}

.resp {
    aspect-ratio: 242 / 200;
    object-fit: cover;
}

.line-clamp{
    overflow:hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
}
.pagination-wrap{
    text-align: center;
}

.userprofile{
    color:#fff;
    padding-top:9px;
}
.link{
    cursor:pointer;
}

.detail-goods-wrap h1{
    position:relative;
}
